{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}
    Log In
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

{% block main %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<form method=post>
    <dl>
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
    </dl>
    <p><input type=submit value=Login>
  </form>
{% endblock %}
